@using smabPlayground2020.Shared.Components.FontAwesome
@page "/fontawesome"

<h2>FontAwesome Fa component</h2>

<div class="container-fluid">
	<div class="card">
		<h2 class="card-header">Examples</h2>
		<div class="">
			<div class="card">
				<h5 class="card-header">Single glyphs</h5>
				<div class="card-body">
					<Fa Icon="envelope" /> should appear as: <i class="fas fa-envelope"></i>
					<code>
						&lt;Fa icon="envelope" /&gt;
					</code>
					<br />
					<Fa Icon="envelope" Type="FaType.Regular" /> should appear as: <i class="far fa-envelope"></i>
					<code>
						&lt;Fa icon="envelope" type="FaType.Regular" /&gt;
					</code>
					<br />
					<Fa Icon="envelope" Class="text-primary" /> should appear as: <i class="fas fa-envelope text-primary"></i>
					<code>
						&lt;Fa icon="envelope" class="text-primary" /&gt;
					</code>
					<br />
					<Fa Icon="envelope" Size="2" /> should appear as: <i class="fas fa-envelope fa-2x"></i>
					<code>
						&lt;Fa icon="envelope" Size="2" /&gt;
					</code>
					<br />
					<Fa Icon="envelope" Size="lg" /> should appear as: <i class="fas fa-envelope fa-lg"></i>
					<code>
						&lt;Fa icon="envelope" size="lg" /&gt;
					</code>
					<br />
					<Fa Type="FaType.Regular" Icon="hand-rock" />
					<Fa Type="FaType.Regular" Icon="hand-paper" />
					<Fa Type="FaType.Regular" Icon="hand-scissors" />
					<Fa Type="FaType.Regular" Icon="hand-lizard" />
					<Fa Type="FaType.Regular" Icon="hand-spock" />
					<code>
						Rock, Paper, Scissors, Lizard, Spock !!!
					</code>
					<br />
					<div style="column-count: 2;">
						<div style="font-size: 2rem;">
							<div><Fa FixedWidth="true" Icon="skating" style="background:DodgerBlue"/> Skating</div>
							<div><Fa FixedWidth="true" Icon="skiing" style="background:SkyBlue;" /> Skiing</div>
							<div><Fa FixedWidth="true" Icon="skiing-nordic" style="background:DodgerBlue;" /> Nordic Skiing</div>
							<div><Fa FixedWidth="true" Icon="snowboarding" style="background:SkyBlue;" /> Snowboarding</div>
						</div>
						<div style="font-size: 2rem; margin-bottom: 0;">
							<div><i class="fa-solid fa-skating fa-fw" style="background:DodgerBlue;"></i> Skating</div>
							<div><i class="fa-solid fa-skiing fa-fw" style="background:SkyBlue;"></i> Skiing</div>
							<div><i class="fa-solid fa-skiing-nordic fa-fw" style="background:DodgerBlue;"></i> Nordic Skiing</div>
							<div><i class="fa-solid fa-snowboarding fa-fw" style="background:SkyBlue;"></i> Snowboarding</div>
						</div>
					</div>
					<br />
				</div>
			</div>
			<div class="card">
				<h5 class="card-header">Calendar</h5>
				<div class="card-body">
					<Fa Name="calendar-date" Size="4" Date="@DateOnly.FromDateTime(DateTime.UtcNow)" />
					<Fa Name="calendar-date" Size="4" Date="@(new DateOnly(2018, 9, 30))" Type="FaType.Regular" />
					<Fa Name="today" Size="4" style="color: #691238" />
					<br />
					<code>
						&lt;Fa Name="calendar" date="@@DateOnly.FromDateTime(DateTime.UtcNow)" /&gt;
					</code>
					<br />
					<code>
						&lt;Fa Name="calendar" date="@@(new DateOnly(2018, 9, 30))" type="FaType.Regular" /&gt;
					</code>
					<br />
					<code>
						&lt;Fa Name="today" style="color: #691238" /&gt;
					</code>
				</div>
			</div>
			<div class="card">
				<h5 class="card-header">Counter</h5>
				<div class="card-body">
					<Fa Name="counter" Icon="envelope" Size="4" Position="@FaPosition.TopRight">123</Fa>
					<Fa Name="counter" Icon="envelope" Size="4" Position="@FaPosition.TopLeft" RotateBy="27">456</Fa>
					<Fa Name="counter" Icon="envelope" Size="4" Position="@FaPosition.BottomLeft" Flip="FaFlip.Horizontal">789</Fa>
					<br />
					<code>
						&lt;Fa name="counter" icon="envelope" position="FaPosition.TopRight"&gt;123&lt;/Fa&gt;
					</code>
					<br />
					<code>
						&lt;Fa name="counter" icon="envelope" position="FaPosition.TopLeft" RotateBy="27"&gt;456&lt;/Fa&gt;
					</code>
					<code>
						&lt;Fa name="counter" icon="envelope" position="FaPosition.BottomLeft" Flip="FaFlip.Horizontal"&gt;789&lt;/Fa&gt;
					</code>
				</div>
			</div>
			<div class="card">
				<h5 class="card-header">Brands</h5>
				<div class="card-body">
					<Fa Name="circle-brand" Size="2" Icon="twitch" style="color: #a562cf;" />
					<Fa Name="circle-brand" Size="2" Icon="youtube" style="color: red;" />
					<Fa Name="circle-brand" Size="2" Icon="twitter" style="color: #1DA1F2;" />
					<Fa Name="square-brand" Size="2" Icon="linkedin" style="color: #0077b5;" />
					<span class="fa-stack fa-2x"><Fa Icon="github" Type="@FaType.Brands" class="fa-stack" style="color: #2dba4e;" /></span>
					<span class="fa-stack fa-2x"><Fa Icon="facebook" Type="@FaType.Brands" class="fa-stack" style="color: #4267B2;" /></span>
					<br />
					<br />
					<div><p>should look like</p></div>
					<span class="fa-stack fa-2x" style="color: #a562cf;">
						<i class="fa-solid fa-circle fa-stack-2x"></i>
						<i class="fa-brands fa-twitch fa-stack-1x fa-inverse"></i>
					</span>
					<span class="fa-stack fa-2x" style="color: red;">
						<i class="fa-solid fa-circle fa-stack-2x"></i>
						<i class="fa-brands fa-youtube fa-stack-1x fa-inverse"></i>
					</span>
					<span class="fa-stack fa-2x" style="color: #1DA1F2;">
						<i class="fa-solid fa-circle fa-stack-2x"></i>
						<i class="fa-brands fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
					<span class="fa-stack fa-2x" style="color: #0077b5;">
						<i class="fa-solid fa-square fa-stack-2x"></i>
						<i class="fa-brands fa-linkedin fa-stack-1x fa-inverse"></i>
					</span>
					<span class="fa-stack fa-2x" style="color: #2dba4e;">
						<i class="fa-brands fa-github fa-stack-2x"></i>
					</span>
					<span class="fa-stack fa-2x" style="color: #4267B2;">
						<i class="fa-brands fa-facebook fa-stack-2x"></i>
					</span>
				</div>
			</div>
			<div class="card">
				<h5 class="card-header">Pro features</h5>
				<div class="card-body">
					<p>These will be missing their outlines or broken unless you have the Pro version of FontAwesome.</p>
					<Fa Name="circle-brand" Size="2" Icon="font-awesome" Type="FaType.Thin" style="color: steelblue;" /> 
					should be enclosed in a circular outline
					<br />
					<code>
						&lt;Fa Name="circle-brand" Size="2" Icon="font-awesome" Type="FaType.Thin" style="color: steelblue;" /&gt;
					</code>
					<br />
					<Fa Name="calendar-date" Size="4" Date="@DateOnly.FromDateTime(DateTime.UtcNow).AddDays(90)" Type="FaType.Light" />
					<Fa Name="today" Size="4" Type="@FaType.Thin" />
					should have outlines
					<br />
					<code>
						&lt;Fa Name="calendar" Date="@@DateOnly.FromDateTime(DateTime.UtcNow).AddDays(90)" Type="FaType.Light" /&gt;
					</code>
					<br />
					<code>
						&lt;Fa Name="today" Type="@FaType.Thin" /&gt;
					</code>
				</div>
			</div>
		</div>
	</div>
</div>