@using smabPlayground2020.Shared.Components
@page "/icons"

<h2>Icons using the CustomIcon component</h2>

<div class="container-fluid">
    <div class="card">
        <h2 class="card-header">Font Awesome</h2>
        <div class="">
            <div class="card">
                <h5 class="card-header">CustomIcon</h5>
                <div class="card-body">
                    <CustomIcon icon="envelope" /> should appear as: <i class="fas fa-envelope"></i>
                    <code>
                        &lt;CustomIcon icon="envelope" /&gt;
                    </code>
                    <br />
                    <CustomIcon icon="envelope" type="@IconType.FontAwesomeRegular" /> should appear as: <i class="far fa-envelope"></i>
                    <code>
                        &lt;CustomIcon icon="envelope" type="@@IconType.FontAwesomeRegular" /&gt;
                    </code>
                    <br />
                    <CustomIcon icon="envelope" class="text-primary" /> should appear as: <i class="fas fa-envelope text-primary"></i>
                    <code>
                        &lt;CustomIcon icon="envelope" class="text-primary" /&gt;
                    </code>
                    <br />
                    <CustomIcon icon="envelope" size="2" /> should appear as: <i class="fas fa-envelope fa-2x"></i>
                    <code>
                        &lt;CustomIcon icon="envelope" size="2" /&gt;
                    </code>
                    <br />
                    <CustomIcon icon="envelope" size="lg" /> should appear as: <i class="fas fa-envelope fa-lg"></i>
                    <code>
                        &lt;CustomIcon icon="envelope" size="lg" /&gt;
                    </code>
                    <br />
                    <CustomIcon icon="hand-rock" type="@IconType.FontAwesomeRegular" />
                    <CustomIcon icon="hand-paper" type="@IconType.FontAwesomeRegular" />
                    <CustomIcon icon="hand-scissors" type="@IconType.FontAwesomeRegular" />
                    <CustomIcon icon="hand-lizard" type="@IconType.FontAwesomeRegular" />
                    <CustomIcon icon="hand-spock" type="@IconType.FontAwesomeRegular" />
                    <code>
                        Rock, Paper, Scissors, Lizard, Spock !!!
                    </code>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Named layered CustomIcons</h5>
                <div class="card-body">
                    <CustomIcon name="calendar-date" size="4" date="@DateOnly.FromDateTime(DateTime.UtcNow)" />
                    <CustomIcon name="calendar-date" size="4" date="@(new DateOnly(2018, 9, 30))" type="@IconType.FontAwesomeRegular" />
                    <CustomIcon name="calendar-date" size="4" date="@DateOnly.FromDateTime(DateTime.UtcNow).AddDays(90)" type="@IconType.FontAwesome5Light" />
                    <CustomIcon name="today" size="4" style="color: #691238" />
                    <br />
                    <code>
                        &lt;CustomIcon name="calendar" date="@@DateOnly.FromDateTime(DateTime.UtcNow)" /&gt;
                    </code>
                    <br />
                    <code>
                        &lt;CustomIcon name="calendar" date="@@(new DateOnly(2018, 9, 30))" type="@@IconType.FontAwesomeRegular" /&gt;
                    </code>
                    <br />
                    <code>
                        &lt;CustomIcon name="calendar" date="@@DateOnly.FromDateTime(DateTime.UtcNow).AddDays(90)" type="@IconType.FontAwesomeLight" /&gt;
                    </code>
                    <br />
                    <code>
                        &lt;CustomIcon name="today" style="color: #691238" /&gt;
                    </code>
                    <br />
                    <CustomIcon name="counter" icon="envelope" size="4" position="@CustomIconPosition.TopRight">327</CustomIcon>
                    <CustomIcon name="counter" icon="envelope" size="4" position="@CustomIconPosition.TopLeft">327</CustomIcon>
                    <br />
                    <code>
                        &lt;CustomIcon name="counter" icon="envelope" position="@@CustomIconPosition.TopRight"&gt;327&lt;/CustomIcon-custom&gt;
                    </code>
                    <br />
                    <code>
                        &lt;CustomIcon name="counter" icon="envelope" position="@@CustomIconPosition.TopLeft"&gt;327&lt;/CustomIcon-custom&gt;
                    </code>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>