@using smabPlayground2020.Shared.Components.CustomIcon
@page "/icons"

<h2>Icons using the CustomIcon component</h2>

<div class="container-fluid">
    <div class="card">
        <h2 class="card-header">Font Awesome</h2>
        <div class="">
            <div class="card">
                <h5 class="card-header">CustomIcon</h5>
                <div class="card-body">
                    <CustomIcon Icon="envelope" /> should appear as: <i class="fas fa-envelope"></i>
                    <code>
                        &lt;CustomIcon icon="envelope" /&gt;
                    </code>
                    <br />
                    <CustomIcon Icon="envelope" Type="@IconType.FontAwesomeRegular" /> should appear as: <i class="far fa-envelope"></i>
                    <code>
                        &lt;CustomIcon icon="envelope" type="@@IconType.FontAwesomeRegular" /&gt;
                    </code>
                    <br />
                    <CustomIcon Icon="envelope" Class="text-primary" /> should appear as: <i class="fas fa-envelope text-primary"></i>
                    <code>
                        &lt;CustomIcon icon="envelope" class="text-primary" /&gt;
                    </code>
                    <br />
                    <CustomIcon Icon="envelope" Size="2" /> should appear as: <i class="fas fa-envelope fa-2x"></i>
                    <code>
                        &lt;CustomIcon icon="envelope" Size="2" /&gt;
                    </code>
                    <br />
                    <CustomIcon Icon="envelope" Size="lg" /> should appear as: <i class="fas fa-envelope fa-lg"></i>
                    <code>
                        &lt;CustomIcon icon="envelope" size="lg" /&gt;
                    </code>
                    <br />
                    <CustomIcon Icon="hand-rock" Type="@IconType.FontAwesomeRegular" />
                    <CustomIcon Icon="hand-paper" Type="@IconType.FontAwesomeRegular" />
                    <CustomIcon Icon="hand-scissors" Type="@IconType.FontAwesomeRegular" />
                    <CustomIcon Icon="hand-lizard" Type="@IconType.FontAwesomeRegular" />
                    <CustomIcon Icon="hand-spock" Type="@IconType.FontAwesomeRegular" />
                    <code>
                        Rock, Paper, Scissors, Lizard, Spock !!!
                    </code>
                     <br />
                     <div style="column-count: 2;">
                        <div style="font-size: 2rem;">
                          <div><CustomIcon FixedWidth="true" Icon="skating" style="background:DodgerBlue" /> Skating</div>
                          <div><CustomIcon FixedWidth="true" Icon="skiing" style="background:SkyBlue" /> Skiing</div>
                          <div><CustomIcon FixedWidth="true" Icon="skiing-nordic" style="background:DodgerBlue" /> Nordic Skiing</div>
                          <div><CustomIcon FixedWidth="true" Icon="snowboarding" style="background:SkyBlue" /> Snowboarding</div>
                          <div><CustomIcon FixedWidth="true" Icon="snowplow" style="background:DodgerBlue" /> Snowplow</div>
                        </div>
                        <div style="font-size: 2rem;">
                          <div><i class="fa-solid fa-skating fa-fw" style="background:DodgerBlue"></i> Skating</div>
                          <div><i class="fa-solid fa-skiing fa-fw" style="background:SkyBlue"></i> Skiing</div>
                          <div><i class="fa-solid fa-skiing-nordic fa-fw" style="background:DodgerBlue"></i> Nordic Skiing</div>
                          <div><i class="fa-solid fa-snowboarding fa-fw" style="background:SkyBlue"></i> Snowboarding</div>
                          <div><i class="fa-solid fa-snowplow fa-fw" style="background:DodgerBlue"></i> Snowplow</div>
                        </div>
                    </div>
                    <br />
               </div>
            </div>
            <div class="card">
                <h5 class="card-header">Named layered CustomIcons</h5>
                <div class="card-body">
                    <CustomIcon Name="calendar-date" Size="4" Date="@DateOnly.FromDateTime(DateTime.UtcNow)" />
                    <CustomIcon Name="calendar-date" Size="4" Date="@(new DateOnly(2018, 9, 30))" Type="@IconType.FontAwesomeRegular" />
                    <CustomIcon Name="calendar-date" Size="4" Date="@DateOnly.FromDateTime(DateTime.UtcNow).AddDays(90)" Type="@IconType.FontAwesome5Light" />
                    <CustomIcon Name="today" Size="4" style="color: #691238" />
                    <br />
                    <code>
                        &lt;CustomIcon Name="calendar" date="@@DateOnly.FromDateTime(DateTime.UtcNow)" /&gt;
                    </code>
                    <br />
                    <code>
                        &lt;CustomIcon Name="calendar" date="@@(new DateOnly(2018, 9, 30))" type="@@IconType.FontAwesomeRegular" /&gt;
                    </code>
                    <br />
                    <code>
                        &lt;CustomIcon Name="calendar" date="@@DateOnly.FromDateTime(DateTime.UtcNow).AddDays(90)" type="@IconType.FontAwesomeLight" /&gt;
                    </code>
                    <br />
                    <code>
                        &lt;CustomIcon Name="today" style="color: #691238" /&gt;
                    </code>
                    <br />
                    <CustomIcon Name="counter" Icon="envelope" Size="4" Position="@CustomIconPosition.TopRight">123</CustomIcon>
                    <CustomIcon Name="counter" Icon="envelope" Size="4" Position="@CustomIconPosition.TopLeft">456</CustomIcon>
                    <br />
                    <code>
                        &lt;CustomIcon name="counter" icon="envelope" position="@@CustomIconPosition.TopRight"&gt;123&lt;/CustomIcon-custom&gt;
                    </code>
                    <br />
                    <code>
                        &lt;CustomIcon name="counter" icon="envelope" position="@@CustomIconPosition.TopLeft"&gt;456&lt;/CustomIcon-custom&gt;
                    </code>
                    <br />
                    <CustomIcon Name="circular-brand" Size="3" Icon="twitch" style="color: mediumpurple;" />
                    <CustomIcon Name="circular-brand" Size="3" Icon="youtube" style="color: red;" />
                    <CustomIcon Name="circular-brand" Size="3" Icon="twitter" style="color: blue;" />
                    <CustomIcon Name="circular-brand" Size="3" Icon="linkedin" style="color: mediumblue;" />
                    <CustomIcon Name="circular-brand" Size="3" Icon="github" Type="@IconType.FontAwesomeThin" style="color: green;" />
                    <CustomIcon Name="circular-brand" Size="3" Icon="font-awesome" Type="@IconType.FontAwesomeThin" style="color: steelblue;" />
                    <br />
                    <br />
                    <span class="fa-stack fa-3x" style="color: mediumpurple;">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-brands fa-twitch fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-3x" style="color: red;">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-brands fa-youtube fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-3x" style="color: blue;">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-brands fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-3x" style="color: mediumblue;">
                        <i class="fa-solid fa-square fa-stack-2x"></i>
                        <i class="fa-brands fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-3x" style="color: green;">
                        <i class="fa-brands fa-github fa-stack-2x"></i>
                    </span>
                    <span class="fa-stack fa-3x" style="color: steelblue;">
                        <i class="fa-thin fa-circle fa-stack-2x"></i>
                        <i class="fa-brands fa-font-awesome fa-stack-1x"></i>
                    </span>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>