@page "/plex/details/{Id:int}"
@using smabPlayground2020.Shared.PlexInfo.Models
@inject PlexApiClient plexClient


@if (item == null)
{
    <p><em>Loading... item @Id</em></p>
}
else
{
    <h1>@item.MediaContainer.Metadata.FirstOrDefault().Title</h1>
    <h4>Added on: @item.MediaContainer.Metadata.FirstOrDefault().AddedAt.ToString("yyyy-MM-dd")</h4>

    <p>@item.MediaContainer.Metadata.FirstOrDefault().Summary</p>

    <p>
        @JsonSerializer.Serialize(item)
    </p>
    
}

@code {

    private LibraryItem? item { get; set; }

    [Parameter] public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        item = await plexClient.GetItem(Id);
    }

}
