@page "/plex/movies"
@using Syncfusion.Blazor.Grids
@inject PlexInfoClient plexClient
@inject PlexInfoState piState
<PageTitle>Plex Movies - smabPlayground2020</PageTitle>

<p><em>@Message</em></p>
@if (SelectedItems.Any()) {
<h3>Selected Items:</h3>
<ul>
    @foreach (MovieSummary selected in SelectedItems)
    {
        <li>@selected.Title</li>
    }
</ul>
}
@if (items is not null)
{
    @*<SfGrid DataSource="@items" AllowPaging="true" AllowExcelExport="true" AllowSelection="true" AllowSorting="true" AllowFiltering="true">
            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
            <GridPageSettings PageSize="30"></GridPageSettings>
            <GridSelectionSettings CheckboxOnly="true" PersistSelection="true" Type="SelectionType.Multiple"></GridSelectionSettings>
            <GridColumns>
                <GridColumn Type="ColumnType.CheckBox" AllowFiltering="false" AllowSorting="false" Width="60"></GridColumn>
                <GridColumn Field=@nameof(ItemSummary.Id) Visible="false" IsPrimaryKey="true" Width="130"></GridColumn>
                <GridColumn Field=@nameof(ItemSummary.Year) TextAlign="TextAlign.Center" HeaderTextAlign="TextAlign.Center" Width="70"></GridColumn>
                <GridColumn Field=@nameof(ItemSummary.Title) ClipMode="ClipMode.EllipsisWithTooltip"></GridColumn>

            </GridColumns>
        </SfGrid>*@
<div class="card-group">
    @foreach(MovieSummary item in items)
    {
        <div class="card">
           <input type="checkbox" @onchange="_ => HandleChange(item)"/>
           <div class="tickmark"></div>
            <a href="/Plex/Details/@item.Id" title="@item.Title"><img src="/PlexInfo/Photo?url=@(item.Thumb)&width=@(THUMB_WIDTH)&height=@(THUMB_HEIGHT)" class="card-img" loading="lazy" alt="..." /></a>
            <div class="card-body">
                <a href="/Plex/Details/@item.Id" title="@item.Title"><div class="card-title text-truncate">@item.Title</div></a>
                <div class="card-subtitle">@item.Year</div>
            </div>
        </div>
    }
</div>
}

@code {

	private readonly int SHORT_MOVIE_LIBRARY_ID = 8;

    private const int THUMB_WIDTH = 200;
    private const int THUMB_HEIGHT = 300;

    public string Message { get; set; } = "Loading Movies ...";

    private List<MovieSummary>? allItems { get; set; }
    private List<MovieSummary>? items { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (piState.MoviesList is null)
        {
            piState.MoviesList = ((await plexClient.GetMoviesList()) ?? new()).ToList();
        }
        allItems = piState.MoviesList;
        items = allItems
                .Where(m => m.LibraryId != SHORT_MOVIE_LIBRARY_ID)
                .OrderByDescending(m => m.OriginallyAvailableAt)
                .ThenBy(m => m.LibraryTitle)
                .ToList();
        //items = items.Where(m => m.Title.StartsWith("A")).ToList();
        Message = $"Showing {items.Count} movies";
    }


    [Parameter]
    public List<MovieSummary> SelectedItems { get; set; } = new();

    [Parameter]
    public EventCallback<List<MovieSummary>> SelectedItemsChanged { get; set; }

    void HandleChange(MovieSummary item)
    {
        if (SelectedItems.Contains(item))
        {
            SelectedItems.Remove(item);
        }
        else
        {
            SelectedItems.Add(item);
        }
        SelectedItemsChanged.InvokeAsync(SelectedItems);
    }

}
